
.ListDiv{
    background-color: white;
    text-align: center;
    margin-top: 2%;
    font-size: 40px;
    font-weight: 600;
    color: #0faa0f;
    width: 75%;
    margin-left: 5%;
    height: 60;
    box-shadow: 2px 2px 8px black;
}
.button{
    float: right;
    align-items: center;
    width: 50px;
    height: 53.5px;
    color: white;
    font-size: 45px;
    background-color: red;
    border: none;

}
